---
import "@/styles/global.css"
import { Image } from "astro:assets"
import Ventas from "@/components/Ventas"
import Layout from "@/layouts/LayoutAdministrador.astro"
import Link from "@/components/Link.astro"
---

<Layout title="pagina principal administrador">
  <div class="flex flex-col gap-10 hide-scroll-bar">
    <div class="flex flex-row justify-around">
      <div class="flex flex-col">
        <Link href="dashboard/administrador/usuarios">
          <Image width={220} height={300} alt="user" src="/astro-frontend/user.svg" loading="eager" />
        </Link>
        <span class="text-2xl font-semibold text-center text-principal-color">Usuarios</span>
      </div>
      <div class="flex flex-col">
        <Link href="dashboard/administrador/facturas">
          <Image width={220} height={300} alt="bills" src="/astro-frontend/facturas.svg" loading="eager" />
        </Link>
        <span class="text-2xl font-semibold text-center text-principal-color">Facturas</span>
      </div>
      <div class="flex flex-col">
        <Link href="dashboard/administrador/productos">
          <Image width={220} height={300} alt="products" src="/astro-frontend/products.svg" loading="eager" />
        </Link>
        <span class="text-2xl font-semibold text-center text-principal-color">Productos</span>
      </div>
    </div>
    <div class="flex flex-row justify-around">
      <Ventas tituloTarjeta="Ventas Anuales"  client:only="react" />
      <Ventas tituloTarjeta="Ventas Mensuales"  client:only="react" />
      <Ventas tituloTarjeta="Ventas Diarias"  client:only="react" />
      <Ventas tituloTarjeta="Cantidad de productos"  client:only="react" />
    </div>
  </div>
</Layout>