@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-header{
  background-image: url('/astro-frontend/bg-header.svg');
  height: 200px;
}

.bg-footer{
  background-image: url('/astro-frontend/bg-footer.svg');
  height: 200px;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}