---
import Link from "#components/Link.astro";
import BillsTable from "#components/shadcn/facturas/page";
import LayoutCajero from "#layouts/LayoutCajero.astro";

---

<LayoutCajero title="pagina principal cajero">
  <div class="grid grid-cols-[80%,_1fr] justify-around gap-5">
    <BillsTable client:only="react" />
    <section class="flex flex-col gap-4 my-auto">
      <Link href="cajero/facturas/new-bill" className="rounded-md bg-principal-color p-4 mx-10 text-center align-middle text-white" set:html="Nueva Factura" />
      <Link href="cajero/facturas/new-product" className="rounded-md bg-principal-color p-4 mx-10 text-center align-middle text-white" set:html="Nuevo Producto" />
    </section>
  </div>
</Layout>