---
import NewCategoryForm from "#components/react/CategoryForm";
import LayoutCajero from "#layouts/LayoutCajero.astro";

---

<LayoutCajero title="creacion nueva categoria">
  <div class="grid grid-cols-2 my-10">
    <div class="col-span-1 mx-auto w-2/3">
      <h1 class="text-principal-color text-2xl">Crear Categoria</h1>
      <NewCategoryForm client:only="react" />
    </div>
  </div>
</LayoutCajero>