---
import "#styles/global.css";
import { Image } from "astro:assets";
import Link from "../components/Link.astro";
import LogoutLink from "../components/react/LogOut";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/astro-frontend/favicon.svg" />
    <title set:html={title} />
  </head>
  <body class="flex flex-col justify-between h-screen gap-10 layout">
    <header class="bg-header min-h-[200px] no-repeat bg-cover bg-center text-white text-xl flex justify-between p-[4rem] origin-top-left align-middle relative">
      <div class="flex flex-col align-middle">
        <Link href="dashboard/cajero/facturas" className="justify-end text-tertiary-color" set:html="Sistema de Inventario" />
      </div>
      <div class="flex flex-row gap-4 align-middle [&>a]:no-underline">
        <Link href="dashboard/administrador/usuarios"  className="text-tertiary-color" set:html="usuarios"  />
        <Link href="dashboard/administrador/facturas"  className="text-tertiary-color" set:html="facturas"  />
        <Link href="dashboard/administrador/productos" className="text-tertiary-color" set:html="productos" />
        <LogoutLink client:idle />
      </div>
    </header>
    <main class="m-auto main-container w-[95%]">
      <slot />
    </main>
    <footer class="bg-footer min-h-[200px] flex flex-row gap-12 justify-center">
      <Image src="/astro-frontend/SantoTomas.svg" width={199} height={58} alt="" loading="lazy" class="invert max-h-[58px] my-auto" />
      <Image src="/astro-frontend/CCLogo.svg"     width={78}  height={58} alt="" loading="lazy" class="max-h-[58px] my-auto"        />
    </footer>
  </body>
</html>